<h1>About what??</h1>
<p>Ici on saura tout tout tout sur THP</p>
<ul>
  <li><%= link_to 'Sur moi','me'%></li>
  <li><%= link_to 'Sur le groupe','groupe'%> </li>
</ul>
<p> Une fois que vous aurez cliqué vous sortirez grandis!</p>
