<h1> A propos de mon groupe </h1>
Je fais partie de THP Nice
Nous sommes 3 dans le groupe:
<ul>
  <li> Thomas alias Toto le roi du késako</li>
  <li> Gaëlle alias Gaga la reine du jcomprendspas</li>
  <li> Mathilde alias Magic Mama la reine du jsaispourquoi </li>
</ul>
<p> A nous tous on s'amuse comme des petits fous!</p>
